/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.custom-padding {
    margin-bottom: 9px;
}

input.error,
textarea.error,
.wp-editor-container.error, select.error {
    border-color: red !important;
}

.settings-form {
    display: none;
}

.settings-form.active {
    display: block;
}

.settings-form #post-body{
    overflow: hidden;
}

hr.wp-template-space {
    margin-top: 30px;
    margin-bottom: 15px;
}